.section-center {
	max-width: 1170px;
	margin: 0 auto;
	padding: 1rem;
	min-height: calc(100vh - 152px);
}
.content {
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem;
}
