.card {
	background: rgba(255, 255, 255, 0.15);
	-webkit-backdrop-filter: blur(45px);
	backdrop-filter: blur(45px);
	min-height: 20rem;
	width: 30rem;
	border-radius: 2rem;
	padding: 2rem;
	box-shadow: -1px 10px 31px -11px rgba(0, 0, 0, 0.61);
	-webkit-box-shadow: -1px 10px 31px -11px rgba(0, 0, 0, 0.61);
	-moz-box-shadow: -1px 10px 31px -11px rgba(0, 0, 0, 0.61);
}
