.card {
	background: rgba(255, 255, 255, 0.15);
	-webkit-backdrop-filter: blur(45px);
	backdrop-filter: blur(45px);
	z-index: 2;
	min-height: 20rem;
	width: 30rem;
	border-radius: 2rem;
	padding: 2rem;
	position: relative;
	box-shadow: -1px 10px 31px -11px rgba(0, 0, 0, 0.61);
	-webkit-box-shadow: -1px 10px 31px -11px rgba(0, 0, 0, 0.61);
	-moz-box-shadow: -1px 10px 31px -11px rgba(0, 0, 0, 0.61);
	.order-btns-container {
		display: flex;

		justify-content: space-around;
		.order-btn {
			background: none;
			color: #0c1c33;
			border-radius: 20px;
			padding: 0.55rem 0.5rem;
			border: none;
			font-size: 1.3rem;
			cursor: pointer;
		}
	}
}
